//------------------------------------------------------\\
//      Styles for the Buttons                          \\
//------------------------------------------------------\\

.btn {
    border-radius: 1px;
    font-size: 9px;
    text-transform: uppercase;
    height: 24px;
    width: 66px;
    line-height: 2.42em;
    cursor: pointer;
    transition: all .5s ease;
    &.btn-confirm {
        background-color: $brand-color;
        border: 1px solid $brand-color;
        color: $white;
        margin-left: .7em;
        &:hover,
        &:focus {
            background-color: darken($brand-color, 10%);
        }
    }
    &.btn-cancel {
        background-color: transparent;
        border: 1px solid transparent;
        color: $black;
        &:hover,
        &:focus {
            background-color: lighten($chhaya-grey, 60%);
        }
    }
    &.btn-diolog {
        background-color: transparent;
        border: 1px solid transparent;
        color: $brand-color;
        font-size: 14px;
    }
}
.widget__container {
    background-color: none;
    .widget__container-inner {
        position: absolute;
        bottom: 0;
        right: 8%;
        width: 136px;
        min-height: 25px;
        .widget__button {
            background-color: $brand-color;
            background-image: url("../assets/icon-button-background.png");
            background-repeat: no-repeat;
            border: $brand-color;
            color: $white;
            font-size: .8em;
            cursor: pointer;
            padding: 4px 18px;
        }
        &.network-ref-itn {
            background-color: $brand-color;
        }
        &.network-ref-ned {
            background-color: $ned-brand-color;
        }
        &.network-ref-tch {
            background-color: $tch-brand-color;
        }
        &.network-ref-fdn {
            background-color: $fdn-brand-color;
        }
        &.network-ref-wd {
            background-color: $wd-brand-color;
        }
        &.network-ref-id {
            background-color: $id-brand-color;
        }
    }
}

