//------------------------------------------------------\\
//      Styles for the Buttons                          \\
//------------------------------------------------------\\

.btn {
    border-radius: 1px;
    font-size: 9px;
    text-transform: uppercase;
    padding: 0.8em 1.9em;;
    cursor: pointer;
    transition: all .5s ease;
    &.btn-confirm {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $white;
        margin-left: .7em;
        &:hover,
        &:focus {
            background-color: darken($primary-color, 10%);
        }
    }
    &.btn-cancel {
        background-color: transparent;
        border: 1px solid transparent;
        color: $black;
        &:hover,
        &:focus {
            background-color: lighten($text-color, 60%);
        }
    }
    &.btn-diolog {
        background-color: transparent;
        border: 1px solid transparent;
        color: $brand-color;
        font-size: 14px;
    }
}

