//------------------------------------------------------------\\
//       Styles for the Checkboxes                            \\
//------------------------------------------------------------\\

.control {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 5px;
    cursor: pointer;
	font-family: $sans-serif-stack;
	font-size: 15px;
	font-weight: 400;
    text-align: left;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: lighten($text-color, 50%);
    border: 0px solid $black;
    border-radius: 3px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: shade($white, 40%);
}

.control input:checked ~ .control_indicator {
    background: shade($white, 30%);
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: lighten($text-color, 30%);
}
.control input:disabled ~ .control_indicator {
    background: darken($white, 10%);
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: lighten($text-color, 40%);
}