//------------------------------------------------------------\\
//      ALL COLOR VARIABLES CAN BE FOUND HERE                 \\
//------------------------------------------------------------\\

$white: #fff !default;
$black: #1f1f1f !default;

// ----- Brand colours ----- \\
$tangaroa: #03163D !default;
$pomegranate: #E84E0F !default;
$pacific-blue: #0C93BC !default;
$outer-space: #30353A !default;

$alto-grey: #DFDEDE !default;
$silver-grey: #b8b8b8 !default;
$cotton-seed: #c1bdb9 !default;

$disabled-color: $alto-grey !default;

//----------- IN TOUCH NETWORKS BRANDING ------------- \\
$brand-color: $tangaroa !default;
$primary-color: $pomegranate !default;
$secondary-color: $pacific-blue !default;
$text-color: $outer-space !default;

//text color helpers
.white {color: $white !important}
.black {color: $text-color !important}
.brand {color: $brand-color !important}
//bg color helpers
.bg-black {background-color:$black !important; color: $white;}
.bg-white {background-color:$white !important; color: $black;}

$link-color: $brand-color !default;
$hover-color: $primary-color !default;

::-moz-selection {
  background: $text-color;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $text-color;
  color: $white;
  text-shadow: none;
}