/* BUTTONS */

.btn {
    border-radius: 1px;
    font-size: 9px;
    text-transform: uppercase;
    padding: 0.8em 1.9em;;
    cursor: pointer;
    transition: all .5s ease;
    &.btn-confirm {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        color: var(--white);
        margin-left: .7em;
        &:hover,
        &:focus {
            background-color: rgba(var(--primary-color), 110%);
        }
    }
    &.btn-cancel {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--black);
        &:hover,
        &:focus {
            background-color: rgba(var(--text-color), 60%);
        }
    }
    &.btn-diolog {
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--brand-color);
        font-size: 14px;
    }
}

