/* BUTTONS */

.btn {
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.8rem 1.9rem;
    cursor: pointer;
    transition: all .5s ease;
}

.btn.btn-confirm {
    background-color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
    color: var(--white);
    margin-left: .7rem;
}

.btn.btn-confirm:hover,
.btn.btn-confirm:focus {
    background-color: var(--disabled-color);
    color: var(--primary-color);
}


.btn.btn-cancel {
    background-color: transparent;
    border: 0.1rem solid transparent;
    color: var(--black);
}

.btn.btn-cancel:hover,
.btn.btn-cancel:focus {
    background-color: var(--disabled-color);
}


.btn.btn-diolog {
    background-color: transparent;
    border: 0.1rem solid transparent;
    color: var(--brand-color);
    font-size: 1.4rem;
}