/*COLOURS*/


/* text color helpers */
.white {
  color: var(--white);
}

.black {
  color: var(--text-color);
}

.brand {
  color: var(--brand-color);
}

/* bg color helpers */
.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
  color: var(--black);
}

::-moz-selection {
  background: var(--text-color);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--text-color);
  color: var(--white);
  text-shadow: none;
}