/*ALL STYLES FOR SPINNERS CAN BE FOUND HERE*/

.spinner {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 0.3rem solid var(--white);
	border-color: var(--pomegranate) transparent;
}

.spinner.loading {
	display: block;
	animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}